:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000ff;

  --guitar-color: #dbe522ff;
  --header-to-color: #1db954;
  --header-from-color: #191414;
  --card-background-color: #5ac995ff;
  --songs-list-title: #77998fff;
  --border-color: rgba(255, 255, 255, 0.1);
  --search-border-color: #ccc;
  --box-shadow-card-song: rgba(0, 0, 0, 0.1);
  --add-icon-color: #1db954;
  --saved-icon-color: #e5aa22ff;
  --img-card-shadow: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
