.card-song {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    180deg,
    var(--card-background-color) 10%,
    color-mix(in srgb, white 80%, var(--card-background-color) 30%)
  );
  box-shadow: 0 4px 6px;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
  height: 200px;
}

.title-card_song {
  text-align: center;
}

.card-song:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px var(--box-shadow-card-song);
}

.img-card_song {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 15%;
  margin-bottom: 0.5rem;
  box-shadow: 10px 4px 8px var(--img-card-shadow);
}

.info-card_song {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.info-card_song p {
  margin: 0;
  padding: 0;
  color: black;
}

.artist-card_song,
.duration-card_song {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.button-card_song-save {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
