.card-song {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 6px;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  color: black;
  max-height: 70dvh;
  max-width: 600px;
  background-image: linear-gradient(
    180deg,
    var(--card-song-background-color) 10%,
    color-mix(in srgb, white 80%, var(--card-song-background-color) 30%)
  );
}

.card-album {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 6px;
  border-radius: 8px;
  margin: 0.5rem;
  max-width: 800px;
  color: black;
  background-image: linear-gradient(
    180deg,
    var(--card-album-background-color) 10%,
    color-mix(in srgb, white 80%, var(--card-album-background-color) 30%)
  );
}
.card-song:hover,
.card-album:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px var(--box-shadow-card-song);
}

.disc-card_album {
  display: flex;
  padding-top: 15px;
}

.headphones-card_song {
  display: flex;
  width: 70px;
  height: 70px;
}

.title-card_song {
  display: flex;
  text-align: center;
}

.title-card_album {
  display: flex;
  text-align: center;
  font-size: clamp(18px, 2em, 24px);
  margin-top: 10px;
  padding: 0;
  margin-bottom: 5px;
}

.info-card_album {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.info-card_album h3,
.info-card_album p,
.duration-card_album p {
  display: flex;
  margin: 0;
  padding: 0;
}

.info-card_album h3 {
  text-align: center;
  font-size: clamp(18px, 20px, 22px);
}

.info-card_song {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
}

.artist-card_song {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.info-card_song p {
  display: flex;
  margin: 0;
  padding: 0;
  color: black;
}

.duration-card_song,
.album-card_likes,
.album-card_plays {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 30%;
  gap: 5px;
  margin-right: 10px;
}

.duration-card_album {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-top: 10px;
  margin-right: 30px;
  gap: 10px;
}

.button-card_album {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.button-card_song-save {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.joe-card-song {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    180deg,
    var(--card-joe-background-color) 10%,
    color-mix(in srgb, white 80%, var(--card-joe-background-color) 30%)
  );
  box-shadow: 0 4px 6px;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
  height: 200px;
  max-width: 600px;
}

.joe-title-card_song {
  text-align: center;
}

.joe-card-song:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px var(--box-shadow-card-song);
}

.joe-img-card_song {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 15%;
  margin-bottom: 0.5rem;
  box-shadow: 10px 4px 8px var(--img-card-shadow);
}

.joe-info-card_song {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.joe-info-card_song p {
  margin: 0;
  padding: 0;
  color: black;
}

.joe-artist-card_song,
.joe-duration-card_song {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.joe-button-card_song-save {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
