.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 15dvh;
  gap: 1rem;
  background-image: linear-gradient(
    90deg,
    var(--header-to-color),
    var(--header-from-color)
  );
}

.header-title {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 20px;
}
