.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100dvh;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  height: 100dvh;
  border-right: 2px solid var(--border-color);
}

.songs-section {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100dvh;
}

.songs-title {
  font-size: 2.5em;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-style: italic;
  margin-bottom: 3dvh;
  color: var(--songs-list-title);
}

.songs-list {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 1rem;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .aside {
    flex-direction: row;
    width: 100vw;
    height: 20dvh;
    border-bottom: 2px solid var(--border-color);
  }

  .songs-section {
    padding: 15px 0;
    width: 100vw;
    height: 80dvh;
  }

  .songs-title {
    font-size: 1.5em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .aside {
    width: 40vw;
  }

  .songs-section {
    width: 60vw;
    height: 100dvh;
  }

  .songs-title {
    font-size: 1.7em;
  }
}
