.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2dvh;
  width: 90%;
  height: 50%;
  border-bottom: 2px solid var(--border-color);
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.search-select {
  padding: 0.5rem;
  font-size: 22px; /* Use 16px to prevent iOS zoom on focus */
  border-radius: 4px;
  border: 1px solid var(--search-border-color);
}

@media (max-width: 1040px) {
  .search {
    height: auto;
    padding: 1rem 0;
  }

  .search-form {
    gap: 0.2rem;
  }

  .search-select {
    padding: 0.75rem;
    width: 70%;
    font-size: 16px; /* Must be at least 16px to prevent iOS zoom */
    border-radius: 4px;
    border: 1px solid var(--search-border-color);
    -webkit-appearance: none; /* Better control on iOS */
    appearance: none;
  }
}
