.songs-section {
  display: flex;
  width: 100%;
  height: 85dvh;
  flex-direction: column;
}

.songs-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.songs-card {
  background-color: var(--card-background-color);
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
}

.songs-img {
  display: flex;
  position: relative;
  top: -10px;
  left: -150px;
  width: 170px;
  height: 170px;
  border-radius: 15%;
  margin-bottom: 0.5rem;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.4);
}
